.footer{
  background-color: black;
  width: 100vw;
  height: 10vh;
}
.Footer-Para{
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 12px;
  font-family: 'Times New Roman', Times, serif;
}
.handing{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
